.arrange{
    text-align: center;
}
.sign-body{
    height: 100vh;
    width:100vw;
    margin-left: 90px;
}
.arrange {
    background: linear-gradient(
        to right,
        #98cd53 20%,
        #00affa 30%,
        #bb2d5d 70%,
        #2eb450 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}